apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpassword123
  MYSQL_DATABASE: springk8s
  MYSQL_USER: springuser
  MYSQL_PASSWORD: springpass123

