apiVersion: v1
kind: Service
metadata:
  name: spring-k8s-demo-service
  labels:
    app: spring-k8s-demo
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
    nodePort: 30080
  selector:
    app: spring-k8s-demo

